<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>看板添加-象牙塔</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="{:config('static_dir')}layui/css/layui.css?_v={:config('static_ver')}" media="all" />
    <link rel="stylesheet" href="{:config('static_dir')}css/public.css?_v={:config('static_ver')}" media="all" />
    <style type="text/css">
        /*.layer-photos-demo img {
            margin: 10px 10px 10px 10px;
        }*/
        .item {
            /*position: relative;*/
            float: left;
            width: 120px;
            height: 120px;
            margin-right: 20px;
            margin-top: 10px;
        }

        .img {
            zoom: 1;
        }

            .img .shequ-fc {
                /*background: url({:config('static_dir')}images/trip_s.png) repeat-x 0 0;*/
                height: 27px;
                width: 120px;
                text-align: center;
                position: absolute;
                bottom: 1px;
                color: white;
                line-height: 27px;
            }

                .img .shequ-fc a {
                    color: #fff;
                }

            .img .b3 {
                position: relative;
            }
    </style>
</head>
<body class="childrenBody">
    <form class="layui-form layui-row layui-col-space10" id="formData">
        <input type="hidden" name="id" value="{$detail.NB_Id}" />
        <input type="hidden"  name="NB_Module" value="105" />
        <div class="layui-col-md12 layui-col-xs12">
            <div class="layui-form-item layui-row layui-col-xs12">
                <label class="layui-form-label">看板类型</label>
                <div class="layui-col-xs4" lay-verify="newsType">
                    <input type="radio" name="NB_Type" value="1" title="便签" lay-filter="news_type" lay-skin="primary" {if condition="($detail.NB_Type eq 1) or (!$detail.NB_Type)"}checked{/if} />
                    <input type="radio" name="NB_Type" value="2" title="海报" lay-filter="news_type" lay-skin="primary" {if condition="$detail.NB_Type eq 2"}checked{/if} />
                </div>
            </div>
            <!-- <div class="layui-row layui-col-space10"> -->
            <div class="layui-form-item layui-row layui-col-xs12">
                <label class="layui-form-label">看板标题</label>
                <div class="layui-input-block">
                    <input type="text" name="NB_Title" value="{$detail.NB_Title}" class="layui-input" placeholder="请输入看板标题" lay-verify="newsTitle" />
                </div>
                <!--<div class="layui-col-md3 layui-col-xs5">
                    <div class="layui-upload-list thumbBox mag0 magt3">
                        <img class="layui-upload-img thumbImg">
                    </div>
                </div>-->
            </div>
            <div class="layui-form-item layui-row layui-col-xs12">
                <label class="layui-form-label">看板标签</label>
                <div class="layui-input-block">
                    <select xm-select="tags" xm-select-type="2"><!-- multiple name="NB_Tags[]" -->
                        <option value="">请选择看板标签</option>
                        {volist name="$taglist" id="vo"}
                        <option value="{$vo.T_Name}" {in name="$vo.T_Name" value="$detail.NB_Tags"}selected{/in}>{$vo.T_Name}</option>
                        {/volist}
                    </select>
                    <input type="hidden" name="NB_Tags" value="{$detail.NB_Tags}" />
                </div>
            </div>
            
            <div class="layui-form-item layui-row layui-col-xs12 div_pic {if condition="$detail.NB_Type neq 2"}layui-hide{/if}">
                <label class="layui-form-label">图片集</label>
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" id="btnupload_img">
                        <i class="layui-icon"></i>上传图片集
                    </button>
                    <div class="layer-photos-demo" id="pics">
                        {volist name="attach_list" id="vo"}
                        {notempty name="vo"}
                        <div class="item">
                            <div class="img" style="margin-top: 1px;">
                                <div class="b3">
                                    <img src="{:config('upload_host')}{$vo.A_AttachPath}" width="120" height="120" data-ids="{$vo.A_Id}"><div class="shequ-fc" onclick="delImage(this)"><a href="javascript:;">删除</a></div>
                                </div>
                            </div>
                        </div>
                        {/notempty}
                        {/volist}   
                    </div>
                    <input type="hidden" name="attachIds" value="{$detail.attachIds}" />
                </div>
            </div>

            <div class="layui-form-item layui-row layui-col-xs12">

                <label class="layui-form-label">地区院校</label>
                <div class="layui-input-inline">
                    <select name="NB_ProvCode" lay-search lay-filter="area">
                        <option value="">选择地区</option>
                        {volist name="$arealist" id="vo"}
                        <option value="{$vo.AI_Id}" {in name="$vo.AI_Id" value="$detail.NB_ProvCode"}selected{/in}>{$vo.AI_Name}</option>
                        {/volist}
                    </select>
                    <input type="hidden" name="NB_ProvName" value="{$detail.NB_ProvName}" />
                </div>
                <div class="layui-inline" style="width:40%">
                    <select xm-select="schools" xm-select-type="2" xm-select-search id="schoolsSelect"><!-- multiple -->
                        <option value="">选择学校</option>
                        {volist name="$schoolslist" id="vo"}
                        <option value="{$vo.S_Id}" {in name="$vo.S_Id" value="$detail.NB_SchoolIds"}selected{/in}>{$vo.S_Name}</option>
                        {/volist}
                    </select>
                    <input type="hidden" name="NB_SchoolIds" value="{$detail.NB_SchoolIds}" />
                    <input type="hidden" name="NB_SchoolNames" value="{$detail.NB_SchoolNames}" />
                </div>
                
            </div>

            <div class="layui-form-item layui-row layui-col-xs12">
                <label class="layui-form-label">看板内容</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" maxlength="25" name="NB_Content" lay-verify="newsContent">{$detail.NB_Content}</textarea>
                </div>
            </div>

            <div class="layui-form-item layui-row layui-col-xs12">
                <label class="layui-form-label"><i class="layui-icon">&#xe60e;</i>状　态</label>
                <div class="layui-input-inline newsStatus">
                    <select name="NB_Status" lay-verify="">
                        <option value="0" {if condition="$detail.NB_Status eq '0'"}selected{/if}>保存草稿</option>
                        <option value="1" {if condition="$detail.NB_Status eq '1'"}selected{/if}>等待审核</option>
                        <option value="2" {if condition="$detail.NB_Status eq '2'"}selected{/if}>通过审核</option>
                    </select>
                </div>
            </div>

            <hr class="layui-bg-gray" />
            <div class="layui-form-item layui-row layui-col-xs12">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <a class="layui-btn layui-btn-sm" lay-filter="addNews" lay-submit><i class="layui-icon">&#xe609;</i>发布</a>
                    <a class="layui-btn layui-btn-primary layui-btn-sm" lay-filter="look" lay-submit>预览</a>
                </div>
            </div>

        </div>
        
    </form>
<script type="text/javascript" src="{:config('static_dir')}layui/layui.all.js?_v={:config('static_ver')}"></script>
<script type="text/javascript">
layui.config({
    base: "{:config('static_dir')}js/"    //此处写的相对路径, 实际以项目中的路径为准
}).extend({
    formSelects: 'formSelects-v3'
});
layui.use(['jquery','form','layer','laydate','upload','formSelects'],function(){
    var form = layui.form
        // layer = parent.layer === undefined ? layui.layer : top.layer,
        layer = layui.layer,
        laypage = layui.laypage,
        upload = layui.upload,
        laydate = layui.laydate,
        $ = layui.jquery,
        formSelects = layui.formSelects;

    //上传图片
    upload.render({
        elem: '#btnupload_img',
        url: "{:config('api_host')}storage/upload",
        multiple: false,
        number: 1,
        accept: 'images',
        data: {
            module:"board", 
            type:"images",
            backend:1
        },
        before: function (obj) {
            var index = layer.msg('上传中...请稍候',{icon: 16,time:false,shade:0.6});
            //预读本地文件示例，不支持ie8
            /*obj.preview(function (index, file, result) {
               $('#pics').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img" width="100px" height="100px">')
            });*/
        },
        done: function (res) {
            if (res.Code == 200) {
                //上传完毕
                $('#pics').html('<div class="item"><div class="img" style="margin-top: 1px;"><div class="b3"><img src="' + res.Data.url
                    + '" width="120" height="120" data-aid="' + res.Data.id + '"><div class="shequ-fc" onclick="delImage(this)"><a href="javascript:;" >删除</a></div></div></div>');
                var aid = $("input[name=attachIds]").val();
                aid = aid!='' ? aid + ',' + res.Data.id : res.Data.id;
                $("input[name=attachIds]").val(res.Data.id);
                layer.closeAll();
                layer.msg(res.Msg);
            }else{
                layer.msg(res.Msg);
            }
        }
    });

    //格式化时间
    function filterTime(val){
        if(val < 10){
            return "0" + val;
        }else{
            return val;
        }
    }
    //定时发布
    var time = new Date();
    var submitTime = time.getFullYear()+'-'+filterTime(time.getMonth()+1)+'-'+filterTime(time.getDate())+' '+filterTime(time.getHours())+':'+filterTime(time.getMinutes())+':'+filterTime(time.getSeconds());
    laydate.render({
        elem: '#release',
        type: 'datetime',
        trigger : "click",
        done : function(value, date, endDate){
            submitTime = value;
        }
    });

    //验证
    form.verify({
        newsModule : function(val, obj){
            var checked = false;
            $(obj).find('input').each(function(index, eml) {
                if (eml.checked===true) checked=true;
            });
            if(checked === false) return "看板分类必须选择";
        },
        newsTitle : function(val){
            if(val == '') return "看板标题不能为空";
        },
        newsType : function(val, obj){
            var checked = false;
            $(obj).find('input').each(function(index, eml) {
                if (eml.checked===true) checked=true;
            });
            if(checked === false) return "看板类型必须选择";
        },
        newsContent : function(val, obj){
            if($(obj).val() == '') return "看板内容不能为空";
        }
    })

    //提交
    form.on("submit(addNews)",function(data){
        //弹出loading
        var index = layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.6});

        //多选标签赋值
        $("input[name=NB_Tags]").val(formSelects.value('tags','valStr'));

        //多选学校
        $("input[name=NB_SchoolIds]").val(formSelects.value('schools','valStr'));
        $("input[name=NB_SchoolNames]").val(formSelects.value('schools','name'));

        //提交数据
        $.post("edit",$("#formData").serializeArray(),function(res){
            if (res.status == 1) {
                setTimeout(function(){
                    layer.close(index);
                    layer.msg(res.msg);
                    layer.closeAll("iframe");
                    //刷新父页面
                    parent.location.reload();
                },500);
            }else{
                layer.msg(res.msg);
            }
        })
        return false;
    })

    //预览
    form.on("submit(look)",function(){
        layer.alert("此功能需要前台展示，实际开发中传入对应的必要参数进行文章内容页面访问");
        return false;
    });

    form.on("radio(news_type)", function (data) {
        if (data.elem.title == "便签") {
            $(".div_pic").addClass("layui-hide");
        } else {
            $(".div_pic").removeClass("layui-hide");
        }
    });

    form.on('select(area)', function(data){
        // console.log(data.elem); //得到select原始DOM对象
        // console.log(data.value); //得到被选中的值
        // console.log(data.othis); //得到美化后的DOM对象

        var sid = formSelects.value('schools','valStr');

        //获取选中的省份名称
        $("input[name=NB_ProvName]").val($(data.elem).find('option:selected').text());

        //提交数据
        $.post("../ajax/getSchools",{spid: data.value, sid: sid},function(res){
            if (res.status == 1) {
                $("#schoolsSelect").html(res.data);
                // form.render('select','area');
                formSelects.render({name:'schools'});
            }else{
                layer.msg(res.msg);
            }
        })
    }); 

});

function delImage(obj){
    $(obj).parent().parent().parent().remove();
    var ids = '';
    $("#pics .item img").each(function(index, el) {
        ids = ids!='' ? ids + ',' + $(this).data('ids') : $(this).data('ids');
    });
    $("input[name=attachIds]").val(ids);
}

</script>
</body>
</html>